# **Project 3 – Part 2**

## *Jaco van Wyk*
----------------

In [77]:
# Imports

# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports
import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

In [78]:
with open('/Users/javwyk/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api_key', 'api_read_token'])

In [79]:
tmdb.API_KEY =  login['api_key']

### Notes start here

-----------------

In [80]:
## make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

In [81]:
## movie objects have a .info dictionary 
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/giBJ0ezYNEobFBfB8H4JNTjmll.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 84.18,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.208,
 'vote_count': 24046}

In [82]:
info['budget']

63000000

In [83]:
info['revenue']

463517383

In [84]:
info['imdb_id']

'tt0133093'

In [85]:
# example from package README
# source = https://github.com/celiao/tmdbsimple
releases = movie.releases()
for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

R
R

In [86]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # Save the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    for c in releases['countries']:
        # If the country abbreviation == US
        if c['iso_3166_1'] == 'US':
            ## Save a certification" key in info with the certification
            info['certification'] = c['certification']
            
    return info

In [87]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.711,29303,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.711,29303,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.881,10705,PG-13

In [88]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 1

[['tt0115937',
  requests.exceptions.HTTPError('404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/tt0115937?api_key=f5d6df5d2509db716f77df6274ad606b')]]

In [89]:
FOLDER = "C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['Test_File.json',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json']

### Notes end here

--------------

In [90]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [91]:
# Load in the dataframe from project part 1 as basics:
# basics = pd.read_csv("Data/title_basics.csv.gz")
basics = pd.read_csv("C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\title_basics.csv.gz")

In [92]:
YEARS_TO_GET = [2000,2001]

In [93]:
errors = [ ]

In [105]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):

    #Defining the JSON file to store results for year
    # JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    JSON_FILE = f'C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\tmdb_api_results_{YEAR}.json'
    print(JSON_FILE)

    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    print(file_exists)
    
    
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    #Saving new year as the current df
    df = basics.loc[basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    print(movie_ids)

    display(df.head())
    

    # Load existing data from json into a dataframe called "previous_df"
    # previous_df = pd.read_json(JSON_FILE)
    previous_df = pd.read_json(JSON_FILE)

    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])

    # final_year_df = pd.read_json(JSON_FILE)
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

C:\Users\javwyk\OneDrive - MMI HOLDINGS LTD\GitHub\Github-practice-assignment\data\tmdb_api_results_2000.json
True
11       tt0113026
12       tt0113092
14       tt0115937
15       tt0116391
16       tt0116628
           ...
82512    tt8327752
83276    tt8553964
84398    tt8907070
84544    tt8954964
86034    tt9412476
Name: tconst, Length: 1464, dtype: object

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000,NaN,86,"Musical,Romance"
12,tt0113092,movie,For the Cause,For the Cause,0,2000,NaN,100,"Action,Adventure,Drama"
14,tt0115937,movie,Consequence,Consequence,0,2000,NaN,91,Drama
15,tt0116391,movie,Gang,Gang,0,2000,NaN,167,"Action,Crime,Drama"
16,tt0116628,movie,The Incorporated,The Incorporated,0,2000,NaN,86,"Action,Thriller"

Movies from 2000:   0%|          | 0/200 [00:00<?, ?it/s]

C:\Users\javwyk\OneDrive - MMI HOLDINGS LTD\GitHub\Github-practice-assignment\data\tmdb_api_results_2001.json
True
0        tt0035423
13       tt0114447
17       tt0116916
21       tt0118589
22       tt0118652
           ...
84997    tt9071078
85474    tt9212730
85510    tt9228234
86338    tt9555974
86397    tt9578462
Name: tconst, Length: 1584, dtype: object

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
13,tt0114447,movie,The Silent Force,The Silent Force,0,2001,NaN,90,Action
17,tt0116916,movie,The Lord Protector,The Lord Protector,0,2001,NaN,101,"Action,Adventure,Fantasy"
21,tt0118589,movie,Glitter,Glitter,0,2001,NaN,104,"Drama,Music,Romance"
22,tt0118652,movie,The Attic Expeditions,The Attic Expeditions,0,2001,NaN,100,"Comedy,Horror,Mystery"

Movies from 2001:   0%|          | 0/1318 [00:00<?, ?it/s]

KeyboardInterrupt:

In [95]:
print(f"- Total errors: {len(errors)}")

- Total errors: 1517

In [ ]:
# Example code in Learning Platform did not cater for closing the brackets in the json file in all cases; there was also no indication of how to address the issues this cause in the learning material or compulsory lectures. Fix file manually to be able to continue with assigntment.

In [101]:
df_2001 = pd.read_json('C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\tmdb_api_results_2001.json')

In [102]:
df_2001.to_csv(f"C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\final_tmdb_data_2001.csv.gz", compression="gzip", index=False)

In [107]:
df_csv_2000 = pd.read_csv('C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\final_tmdb_data_2000.csv.gz', low_memory=False)

In [108]:
df_csv_2000.head(10)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.102,2374.0,PG
5,tt0118852,0.0,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.625,56.0,R
6,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.078,193.0,R
7,tt0119495,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,51181.0,en,Love 101,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Love 101,0.0,0.000,0.0,R
8,tt0119806,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,85920.0,en,Nothing Sacred,...,0.0,98.0,[],Released,NaN,Nothing Sacred,0.0,0.000,0.0,NaN
9,tt0119966,0.0,NaN,NaN,0.0,[],NaN,1182360.0,en,Pushing the Envelope,...,0.0,75.0,[],Released,NaN,Pushing the Envelope,0.0,0.000,0.0,NaN

In [109]:
df_csv_2001 = pd.read_csv('C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\final_tmdb_data_2001.csv.gz', low_memory=False)

In [110]:
final_df = pd.concat([df_csv_2000, df_csv_2001], axis = 0)

In [111]:
print(len(df_csv_2000))
print(len(df_csv_2001))
print(len(final_df))

1265
267
1532

In [113]:
# save the final results to a compressed csv
final_df.to_csv('C:\\Users\\javwyk\OneDrive - MMI HOLDINGS LTD\\GitHub\Github-practice-assignment\\data\\tmdb_results_combined.csv.gz', compression='gzip',index=False)